:root {
  --page-bg-color: #35495e;
  --primary-blue: #3bc1ff;
  --primary-green: #0bffbb;
  --nav-menu-bgcolor: #444444;
  --page-bgcolor: #040d21;
  --maintitle-color: #fff;
  --footer-bg-color: #d6d6d6b2;
}